{% load static %}

<!-- ================================
    Start Footer
    ================================= -->
    <footer>
      <div class="footerCol">
        <div class="container">
          <ul class="socialCol">
            <li><a href="https://web.facebook.com/eugenereybulahan"><img src="{% static 'img/digiresume/fb.svg' %}" alt="..."></a></li>
            <li><a href="https://www.instagram.com/eugecollins/"><img src="{% static 'img/digiresume/insta.svg' %}" alt="..."></a></li>
            <li><a href="javascript:void(0)"><img src="{% static 'img/digiresume/twitter.svg' %}" alt="..."></a></li>
            <li><a href="https://www.linkedin.com/in/eugene-rey-bulahan-964361244"><img src="{% static 'img/digiresume/linkedin.svg' %}" alt="..."></a></li>
          </ul>
          <div class="copyrightCol">
            <p>Copyright ©{% now 'Y'%} All rights reserved. Programmed by <a href="https://web.facebook.com/eugenereybulahan" target="_blank">Eugene Rey Bulahan</a></p>
            <p>This website is created from scratch except for icons, images, and templates. This is for employment purposes only.</p><br>
            <p>"No copyright infringement intended"</p>
          </div>
        </div>
      </div>
    </footer>
    <!-- ================================
    End Footer
    ================================= -->